<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="white">
    <div style="text-align:center;color:black">
        <br/><br/><br/>
        <font face="宋体" size="+5", color="orange">{{ head }}</font><br/>
        <br/><br/>
        <form action="/" method='post'>
            <input type="submit" name="submit_button" value="商米HR问答Demo" style="height:50px;width:250px;">
            <input type="submit" name="submit_button" value="客户服务问答Demo" style="height:50px;width:250px;">
        </form>
    </div>
</body>
</html>